# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

.eslintignore
.eslintrc
.npmrc
.esbuild.config.mjs
version-bump.mjs
tsconfig.json
versions.json
test-vault/
esbuild.config.mjs
package-lock.json
.editorconfig
/src/bookmark_file_example.json
.DS_Store
/node_modules
/.editorconfig
/.eslintignore
/.eslintrc
/main.js
/package-lock.json
/version-bump.mjs
.npmrc